@import '_my_mixins';

// general rules
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    width: 100%;
  }

  .ms_button_ads {
    @include myButtonAds;

  }
}

.blue-bg {
  background-color: $primaryCompanyColor;
}

.grey-bg {
  background-color: $bgGreyColor;
}

.green-bg {
  background-color: $bgGreenColor;
}

.text-blue {
  color: $primaryCompanyColor;
}

.titolo-principale {
  @include titoloPrincipale;
}

.sottoTitolo-principale {
  @include sottoTitolo-principale;
}

.padding80 {
  padding: 80px 0;
}

.padding40 {
  padding: 40px 0;
}

.thumbnail {
  width: 30%;
  padding: 15px;
}

.title-section {
  font-size: 50px;
}

// ends general rules
