// header
 header {
   text-transform: uppercase;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 9999;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;

  .navbar-light .navbar-nav .nav-link {
      color: $primaryCompanyColor;
    }

    .nav-item {
      margin: 0 12px;
      height: 100%;
      font-size: 14px;
    }

    .active, .nav-item:hover {
      border-bottom: 2px solid $thirdCompanyColor;
    }

    .ms_button {
      @include myButton;
      }

      img {
        width: 50%;
      }
    }
   }

// ends header
