// header
 header {

   text-transform: uppercase;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 9999;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;

  .navbar-light .navbar-nav .nav-link {
      color: $primaryCompanyColor;
    }


    .ms_button {
      @include myButton;
      }

      img {
        width: 50%;
      }
    }
   }

// ends header
