main {
  margin-top: 100px;

  .ms_jumbotron {
    padding: 50px 0;

    img {
      width: 100%;
    }
  }

  .filtro {
    @include myFiltro;
  }

  .under-jumbo {
    padding: 50px 0;

    .data {
      padding: 0 60px;
    }
  }

  .ms_jumbotron_corso {
    position: relative;
    padding: 130px 0;

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;

      img {
        width: 100%;
        top: -100px;
        position: relative;
      }
    }
  }

  .faq-content {
    padding: 50px;

    .faq_question {
      padding: 20px 0;
    }

    h4 {
      font-size: 20px;

      #icon {
        float: right;
        cursor: pointer;
      }
    }

    .answer {
      display: none;
      font-size: 20px;
    }

    .selected {
      display: block;
    }




  }
}
