main {
  margin-top: 100px;

  .filtro {
    @include myFiltro;
  }

  .under-jumbo {
    padding: 50px 0;

    .data {
      padding: 0 60px;

      h3 {
        font-size: 50px;
      }

      p {
        font-size: 20px;
      }
    }
  }

  .ms_jumbotron_corso {
    position: relative;
    padding: 130px 0;

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;

      img {
        top: -100px;
        position: relative;
      }
    }
  }

  .clients {

    color: #8e8e8e;

    .companies {

      .image-company {
        flex-basis: calc(100% / 3);


        img {
          width: 70%;
        }
      }
    }
  }

  .faq-content {
    padding: 50px;

    .faq_question {
      padding: 20px 0;
    }

    h4 {
      font-size: 20px;

      #icon {
        float: right;
        cursor: pointer;
      }
    }

    .answer {
      display: none;
      font-size: 20px;
    }

    .selected {
      display: block;
    }
  }

  .ads-grey, .ads-blue, .school-gif-section {

    .content {

      h3 {
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }

      ul {
        padding: 10px 20px;
        font-size: 18px
      }

      ul li {
        padding: 10px;
      }

    }

  }


}
